.self-item {
  margin: 18px 0px;
}
.shelf-button {
  background-color: transparent;
  color: #475569;
  font-weight: 400;
  font-size: 16px;
  border-width: 0px;
  padding: 4px 11px;
}
.active-shelf {
  font-weight: 700;
  color: #0284c7;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .self-item {
    margin: 0px 15px 15px 0px;
  }
  .shelf-button {
    font-size: 13px;
    color: #0284c7;

    font-family: roboto;
    border: 1px solid #0284c7;
    border-radius: 25px;
  }
  .active-shelf {
    background-color: #0284c7;
    color: #f8fafc;
  }
}
